*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background:rgb(63, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}
form h3{
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 22px;
    color: #555;

}
form input, form textarea{
    border: none;
    margin: 10px 0; 
    padding: 20px;
    outline: none;
    background-color: #fdb4b4;
    font-size: 16px;

}
form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}